@import '@mantine/core/styles.css';

@import 'https://fonts.googleapis.com/css?family=Open+Sans';

@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.75em;
	font-size: 16px;
	background-color: #E4F6F8;
	color: #212529;
}

p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.navbar {
	display: flex;
	background-color: #0077b6;
  height: 54px;
}
.navbar .right-wrapper{
	margin-left: auto;
}
.navbar ul{
    list-style-type: none;
	margin: 0;
	float: right;
	overflow: hidden;
}
.navbar .left-wrapper,li{
	display: inline-flex;
  	align-items: center;
	height: 54px;
	padding: 15px;
    float: left;
}
.navbar h1{
	position: relative;
	color: #FAFAFA;
	font-family: 'Rocher';
} 
.white{
	font-palette: --Aqua;
}
@font-palette-values --Aqua{
	font-family: Rocher;
  	base-palette: 4;
}
.navbar button{
	padding: 8px;
	border: 0;
	border-radius: 5px;
	background-color: #0077b6;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
    color: #FAFAFA;
    text-align: center;
	cursor: pointer;
}
.navbar button:hover{
    background-color: #0069a1;
}

div[data-type="Resizer"] {
  min-height: calc(100vh - 74px);
  margin: 10px 0 10px 0;
  width: 14px;
  background: #0077b6;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='30'><path d='M2 0 v30 M5 0 v30 M8 0 v30' fill='none' stroke='black'/></svg>");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  cursor: ew-resize;
}
div[data-type="Resizer"]:hover {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  border-left: 3px solid rgba(0, 0, 0, 0.25);
  border-right: 3px solid rgba(0, 0, 0, 0.25);
}

.pane {
  background-color: #FAFAFA;
  margin: 10px;
  padding: 15px;
  height: calc(100vh - 74px);
  border-radius: 15px;
  border-color: #9fb8c53f;
  border-style: solid;
  overflow: auto;
  box-shadow: 0 5px 10px rgba(154,160,185,.05);
}

.year {
  background-color: #d9dddc50;
  border-style: groove;
  border-radius: 15px;
  border-color: #9fb8c53f;
  padding: 10px;
  box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
}

p {
	font-size: 16px;
}

h1 {
	font-size: 30px;
	line-height: 34px;
}

h2 {
	font-size: 20px;
	line-height: 25px;
}

h3 {
	font-size: 16px;
	line-height: 27px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #D8D8D8;
	border-top: 1px solid #D8D8D8;
}