.wrapper {
    position: relative;
}
  
.dropzone {
    border-width: rem(2px);
    border-style: dashed;
    border-color: #9fb8c53f;
    padding-bottom: rem(36px);
}

.dropzone:hover {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}

.icon {
    color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
}

.control {
    position: absolute;
    width: rem(250px);
    bottom: rem(20px);
    left: calc(50% - rem(60px));
    --button-bg: #0077b6;
    --button-hover: #0069a1;
}